body {
  margin: 0;
}
#container {
  min-height: 100vh; /* this will fill up the screen */
  display: flex;
}

.left {
  width: 25vw;
  background-color: lightblue;
}

.right {
  width: 75vw;
  background-color: lightgray;
}




