/* BODY */
body {
  background-image: url("./starry-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  height: auto;
  margin: 0;
}

h1 {
  height: fit-content;
  color: white;
  text-align: center;
  font-size: 45px;
  margin-top: 1%;
  text-shadow: 3px 3px 5px lightskyblue;
}

#container-body{
  height: 100vh;
  display: flex;
}

/* LEFT SIDE OF PAGE */
.left {
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
  height: 90vh;
  width: 25%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 1%;
}

.left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: inherit;
  flex-shrink: inherit;
  height: fit-content;
  width: 25vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  padding: 2px;
}

h2 {
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2vw;
  height: 5vh;
  width: 50vw;
  margin: 0 0 0 2px;
  padding-left: 5px;
  border-radius: 1px;
}

input {
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 4px;
  height: 4.7vh;
  width: 4vw;
  font-size: 1.2vw;
  text-align: center;
  margin: 0 2px 0 2px;
}  
button {
  /* text-shadow: 2px 2px 4px black; */
  border: none;
  background-color: white;
  height: 5.5vh;
  margin: 0 2px 0 0;
}



/* RIGHT SIDE OF PAGE */
.right {
  background-image: url("./book-on-map.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 3px;
  max-height: fit-content;
  height: 75vh;
  width: 75vw;
  margin-left: 1%;
  margin-right: 2%;
  padding: 2%;
}

.outputBox {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  border: none;
  max-height: 150px;
  /* height: auto; */
  width: 300px;
  border: 3px solid black;
  background-color: white;
  margin: 2%;
  padding: 1%;
  
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.title, .output {
  display: flex;
  justify-content: center;
  background-color: white;
  /* font-size: 1.75vw; */
  width: 100%;
  height: auto;
  
}

.output {
  text-align: center;
  align-self: auto;
  border-radius: 3px;
}


/* BEGIN @MEDIA MOBILE*/
@media only screen and (max-width: 750px) {
  
  /* BODY */
  body {
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    margin: 0;
  }
  h1 {
    font-size: 30px;
    height: 50px
  }
  #container-body{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /* TOP */

  .left {
    height: 25%;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: 0;
    border: none;
    /* position: fixed; trying to make it sticky on scrolling
    top: 0;
    z-index: 100; */
  }

  .left-container {
    max-height: 50px;
    max-width: 160px;
  
    display: flex;
    width: fit-content;
    margin: 1%;
    border: 1px solid black;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 75vw;
    font-size: 16px;
    border: none;
    padding-left: 5px;
  }

  input {
    font-size: 11px;
    height: 30px;
    width: 30px;
  }

  button {
    height: 25px;
    width: 25px;
    border: none;
  }
  /* BOTTOM */
  .right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border: none;
    border-radius: 0;
    background-color: lightgray;
    margin: 0;
  } 

  .outputBox {
    /* align-items: center; */
    justify-content: center;
    max-height: 150px;
    height: auto;
    width: 80%;
    margin: 2%;
  }

/* end of @media mobile*/
} 
/* end of @media mobile */


/* @media screen
 and (min-device-width: 1200px)
 and (max-device-width: 1600px)
 and (-webkit-min-device-pixel-ratio: 1) {

.right {
  width: 500px;
}

} */